@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@theme {
    --color-top-background-white: #FCFAFA;
    --color-background-dark: #09122C;
    --color-space-gray: #191F45;
    --color-dark-purple: #423172;
}

h1 {
  font-size: 47.8px;
}

h2 {
  font-size: 39.8px;
}

h3 {
  font-size: 33.2px;
}

h4 {
  font-size: 27.6px;
}

h5 {
  font-size: 23px;
}

h6 {
  font-size: 19.2px;
}
